.contacts p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 189.5px;
    margin-right: 189.5px;
}

.checkbox {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;

    input {
      width: 32px;
      height: 32px;
      margin-left: 0px;
    }

    label {
      margin-top: 10px;
      margin-left: 10px;
    }
}

.contacts_wrap {
    display: flex;
    justify-content: space-between;
}

.contacts_form {
    display: flex;
    flex-wrap: wrap;
    width: 58.33%;
    margin-left: auto;
    margin-right: auto;
}

.contacts_form_field {
    width: 50%;
    margin-bottom: 45px;
  
    &:nth-child(1) {
      padding-right: 16px;
    }
  
    &:nth-child(2) {
      padding-left: 16px;
    }
  
    input,
    textarea {
      width: 100%;
      margin-top: 5px;
      padding: 21px 36px;
      font-size: 16px;
      line-height: 28px;
      background-color: #FBF2DA;
      border: none;
      border-radius: 5px;
    }
  
    textarea {
      height: 250px;
      font-family: "Open Sans", sans-serif;
      resize: vertical;
    }

    label {
      font-family: "Open Sans", sans-serif;
      margin-left: 20px;
      color: #D46240;
    }
}

.contacts_form_field__full {
    width: 100%;
}

.contacts_button {
    width: 100%;
    display: block;
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #D46240;
    border-radius: 5px;
    text-align: center;
}

