/* >>>>> Общие стили <<<<< */

* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid #000;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 116px;
    line-height: 136px;
    text-align: center;
    color: #FFFFFF;
}
  
h2 {
    list-style-type: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    color: #D46240;
}

.button {
    display: block;
    font-family: 'Open Sans';
    margin-bottom: 33px;
    margin-left: 121px;
    margin-right: 121px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #D46240;
    border-radius: 5px;
    text-align: center;
}