.location {
    background-color: rgba(251, 242, 218, 0.2);
}

.location_list {
    display: flex;
    padding: 0%;
    list-style: none;
}

.location_wrap {
    margin-left: 81px;
    margin-right: 81px;
}

.location_list a {
    color: #FBF2DA;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    margin-top: auto;
}

.location_list h3 {
    color: #FBF2DA;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.location_item1 {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    /* width: 60%; */
    width: 624px;
    height: 272px;
    background-image: url(../img/location/location1.png);
}

.location_item2 {
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    /* width: 60%; */
    width: 624px;
    height: 272px;
    background-image: url(../img/location/location2.png);
}

.location_item3 {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    /* width: 60%; */
    width: 624px;
    height: 272px;
    background-image: url(../img/location/location3.png);
}

.location_item4 {
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    /* width: 60%; */
    width: 624px;
    height: 272px;
    background-image: url(../img/location/location4.png);
}
