/* >>>>> Стили promo <<<<< */

.promo {
  background-image: url(../img/promo/promo_bg.png);
  color: #FFFFFF;
  height: 531px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.promo_p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}
